.combination {
    &-elements {
        margin: 0;
    }

    &-element {
        padding-left: 0;
        padding-right: 0;
    }

    &-media {
        width: 100%;

        &-wrapper {
            overflow: hidden;
        }
    }
}