<header class="menu" data-init="main-nav">
    <div class="menu-mobile">
        <div class="menu-mobile-close-button">
            <span class="icon icon-close"></span>
        </div>
        <nav class="menu-nav">
            <ul>
                <li class="menu-nav__item" data-nav-target="hello">hello</li>
                <li class="menu-nav__item" data-nav-target="portfolio">portfolio</li>
                <li class="menu-nav__item" data-nav-target="skills">skills</li>
                <li class="menu-nav__item" data-nav-target="about">about</li>
                <li class="menu-nav__item" data-nav-target="contact">contact</li>
            </ul>
        </nav>
    </div>
    <div class="menu-desktop wrap row middle-xs section-content">
        <a href="/">
            <img class="menu__logo" src="{{STATIC_URL}}/images/logo.jpg" alt="Logo" />
        </a>
        <nav class="menu-nav end-xs">
            <ul>
                <li class="menu-nav__item" data-nav-target="hello">hello</li>
                <li class="menu-nav__item" data-nav-target="portfolio">portfolio</li>
                <li class="menu-nav__item" data-nav-target="skills">skills</li>
                <li class="menu-nav__item" data-nav-target="about">about</li>
                <li class="menu-nav__item" data-nav-target="contact">contact</li>
            </ul>
        </nav>
    </div>
    <div class="menu-mobile-button">
        <span class="icon icon-block"></span>
    </div>
</header>
