{% macro create(src='', alt='', STATIC_URL='', group='', video='', title='') %}
    <div class="media-wrapper {% if video %}media-wrapper--with-video{% endif %}" data-init="media-zoom" {% if group %}data-zoom-group="{{group}}"{% endif %}>
        {% if video %}
            <video class="media-wrapper__video" preload="none">
                <source src="{{STATIC_URL}}{{video}}" type="video/mp4">
            </video>
        {% endif %}
        <image class="media-wrapper__image" src="{{STATIC_URL}}{{src}}" draggable="false"/>
    </div>
{% endmacro %}
