$icomoon-font-path: "fonts" !default;

$icon-arrow-down: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e902";
$icon-arrow-up: "\e903";
$icon-block: "\e904";
$icon-clip: "\e905";
$icon-close: "\e906";
$icon-cloud: "\e907";
$icon-download-B: "\e908";
$icon-email: "\e909";
$icon-flag-B: "\e90a";
$icon-heart: "\e90b";
$icon-mailbox: "\e90c";
$icon-message: "\e90d";
$icon-movie: "\e90e";
$icon-music: "\e90f";
$icon-pause: "\e910";
$icon-resize-A: "\e912";
$icon-settings-B: "\e913";
$icon-share: "\e914";
$icon-shield: "\e915";
$icon-sign: "\e916";
$icon-speaker-off: "\e917";
$icon-speaker-on: "\e918";
$icon-star: "\e919";
$icon-stats-A: "\e91a";
$icon-trash: "\e91c";
$icon-play3: "\ea1c";
$icon-pause2: "\ea1d";
$icon-stop2: "\ea1e";
$icon-google-drive: "\ea8f";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-dribbble: "\eaa7";
$icon-behance: "\eaa8";
$icon-github: "\eab0";
$icon-skype: "\eac5";
$icon-linkedin2: "\eaca";

