$menu-height: 60px;

.menu {
    height: $menu-height;
    border-bottom: 1px solid $sc-1;
    position: fixed;
    width: 100%;
    background: rgba($sc-0, 0.97);
    z-index: 104;

    &-desktop {
        .menu-nav {
            float: right;
            margin-left: auto;
            display: none;

            @include breakpoint($sm) {
                display: block;
            }

            &__item {
                text-transform: uppercase;
                float: left;
                padding-left: 20px;
                font-size: 14px;
                color: $sc-12;
                cursor: pointer;
                font-weight: bold;

                &:hover,
                &--selected {
                    color: $pc-1;
                }
            }
        }
    }

    &-mobile {
        display: block;

        @include breakpoint($sm) {
            display: none;
        }

        width: 100vw;
        height: 100vh;
        position: fixed;
        background: $sc-14;
        left: 100vw;
        padding: 25px;
        padding-top: 90px;
        box-sizing: border-box;

        &-button {
            display: block;

            @include breakpoint($sm) {
                display: none;
            }

            position: absolute;
            right: 12px;
            width: 40px;
            height: 40px;
            padding: 8px;
            box-sizing: border-box;
            font-size: 26px;
            cursor: pointer;
            top: 10px;

            &:hover {
                color: $pc-1;
            }
        }

        &-close-button {
            width: 50px;
            height: 50px;
            outline: 1px solid rgba($sc-0, 0.1);
            z-index: 10000;
            color: rgba($sc-0, 0.8);
            text-align: center;
            padding-top: 17px;
            box-sizing: border-box;
            right: 10px;
            top: 10px;
            cursor: pointer;
            position: absolute;

            &:hover {
                color: rgba($sc-0, 1);
            }
        }

        .menu-nav {
            &__item {
                color: $sc-0;
                font-size: 30px;
                height: 60px;
                cursor: pointer;

                &:hover,
                &--selected {
                    color: $pc-1;
                }
            }
        }
    }

    &__logo {
        width: 40px;
        height: 40px;
        float: left;
        background: $pc-1;

        @include breakpoint($md) {
            width: 50px;
            height: 50px;
        }
    }

    .section-content {
        height: $menu-height;
    }
}
